<!DOCTYPE html>
<meta charset="utf-8">
<head>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
  <div class='main'>
    <div id='map'>
    </div>
    <div id='nav'>
      <div id='years'>
      </div>
      <div id='variables'>
      </div>
    </div>
    <div id='histogram'>
    </div>
    <div id='timeline'>
    </div>
  </div>
</body>
  <script src="http://d3js.org/d3.v3.min.js"></script>
  <script src="http://d3js.org/topojson.v1.min.js"></script>
  <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
<script src="{{ url_for('static', filename='js/map.js') }}"></script>
  <script src="{{ url_for('static', filename='js/nav.js') }}"></script>
  <script src="{{ url_for('static', filename='js/histogram.js') }}"></script>
  <script src="{{ url_for('static', filename='js/timeline.js') }}"></script>

