body {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.area {
  fill: steelblue;
}

div.bar-container {
    height: 16px;
}

div.bar-label {
    font: 11px sans-serif;
    font-style:bold;
    text-align: right;
    color: white;
    margin-right: 4px;
}
div.bar-indicator-numeric { 
    height: 12px;
    margin-top: 2px;
    margin-bottom: 2px;
    margin-left: 2px;
    font: 9px sans-serif;
    vertical-align: middle;
    font-style: bold;
    text-align: left;
    color: rgb(236, 231, 242);
    float: left;
}

div.bar-indicator {
   height: 12px;
   text-align: right;
   color: white;
   font: 11px sans-serif;
   background-color: rgb(4, 90, 141);
   border: black;
   border-width: 2px;
   margin-top: 2px;
   margin-bottom: 2px;
   margin-left: 2px;
   float: left;
 }

.county {
  z-index: 1;
  fill: rgb(217, 217, 217);
  stroke: rgb(189, 189, 189);
  stroke-width: 0.5px;
}

.county.empty {
    fill: #ccc;
}

.states {
    position: absolute;
}

path.active {
    opacity: 1.0;
}

path.county.active {
    opacity: 1.0;
}

path.state.active {
    opacity: 0.0;
    z-index: 0;
}

path.inactive {
    opacity: 0.1;
    fill: #fff;
}

.state {
  z-index: 2;
  position: absolute;
  opacity: 0.0;
  fill: #191818;
  stroke: #191818;
  stroke-width: 2px;
}

.state:hover {
    opacity: 0.2;
}

#statbox {
    fill: #191818;
}

#map { margin-left: 250px; }